*
    margin: 0
    padding: 0
    font-family: Arial, Helvetica, sans-serif

:root
    --color-base: #808fff
    --nav-color-bg: #212529
    --underline-color-gray: rgb(64, 68, 83)
    
body
    background: var(--nav-color-bg)

.navbar
    width: 100%
    color: white
    display: flex
    padding: 10px
    position: fixed
    min-width: 240px
    justify-content: space-between
    background-color: var(--nav-color-bg)

    span
        top: 8px
        position: relative

    div

        ul
            right: 15px
            display: flex
            list-style: none
            position: relative

            li
                margin: 5px
                padding: 3px
                outline: 1px solid white
                a
                    color: white
                    text-decoration: none
                
.navbar
    div
        ul
            li:hover
                background: opacify(white, 0.5)

.navbar
    div
        ul
            li
                a:hover
                    color: var(--nav-color-bg)

#contenido
    height: 100vh
    background: white
    padding-top: 48px

.p_contenido
    top: 40px
    height: 88vh
    padding: 5px
    display: flex
    position: relative
    justify-content: center

.s_contenido
    height: 10vh
    display: flex
    align-items: center
    justify-content: center
    border: 2px solid var(--nav-color-bg)

footer
    padding: 5px
    background: var(--nav-color-bg)

    a
        text-decoration-color: var(--underline-color-gray)




    // display: flex
    // margin-top: 6px
    // position: relative
    // align-items: center
    // justify-content: center
    // border: 2px solid var(--nav-color-bg)
    // .portafolio
    //     bottom: 30px
    //     width: 100%
    //     display: flex
    //     position: absolute
    //     flex-direction: column
    //     .first_content
    //         width: 95%
    //         height: 75px
    //         outline: 1.5px solid #000
    //     .seconds_content
    //         width: 95%
    //         height: 75px
    //         outline: 1.5px solid #000
    //     .three_content
    //         width: 95%
    //         height: 75px
    //         outline: 1.5px solid #000